<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Coupe du jour</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script>
  <script src="https://docs.getgrist.com/grist-plugin-api.js"></script>
  <link rel="stylesheet" href="coupe.css">
</head>
<body>
<div id="app">

  <div v-if="status" class="status">{{ status }}</div>

  <template v-if="dates.length > 0">

    <!-- Toolbar -->
    <div class="toolbar">
      <label>Date :
        <select v-model="selectedDate">
          <option v-for="d in dates" :value="d">{{ fmtDateOption(d) }}</option>
        </select>
      </label>
      <a href="javascript:window.print()" class="print-btn">Imprimer</a>
    </div>

    <!-- Pivot table -->
    <div class="table-wrap" v-if="products.length > 0">
      <table class="pivot-table">
        <thead>
          <tr>
            <th class="col-product">Produit</th>
            <th class="col-total">Total</th>
            <th v-for="client in clients" class="col-qty">{{ client }}</th>
          </tr>
          <tr class="row-notes">
            <td class="col-product note-label">Note</td>
            <td class="col-total"></td>
            <td v-for="client in clients" class="col-qty note-cell">{{ notes[client] || '' }}</td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="product in productsWithPlanned">
            <td class="col-product" :class="productRowStatus[product]">
              {{ product }}
              <div v-if="productBundle[product]" class="cell-note">({{ productBundle[product] }})</div>
            </td>
            <td class="col-total">{{ totalProduct(product) }}</td>
            <td v-for="client in clients" class="col-qty" :class="pivotStatus[product] && pivotStatus[product][client]">
              {{ qty(product, client) }}
              <div v-if="pivotNotes[product] && pivotNotes[product][client]" class="cell-note">{{ pivotNotes[product][client] }}</div>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td class="col-product">Total</td>
            <td class="col-total grand-total">{{ fmtGrand() }}</td>
            <td v-for="client in clients" class="col-total">{{ totalClient(client) }}</td>
          </tr>
          <tr class="row-reste">
            <td class="col-product">Reste</td>
            <td class="col-total">{{ fmtTotal(grandReste) }}</td>
            <td v-for="client in clients" class="col-total">{{ fmtTotal(restePerClient[client] || 0) }}</td>
          </tr>
        </tfoot>
      </table>
    </div>

  </template>

</div>
<script src="coupe.js"></script>
</body>
</html>
