a {
  color: #0000EE; 
}

.invoice {
  background-color: white;
  color: black;
  padding: 16px;
}

.meta {
  color: #92AB4E;
}

.header .title {
  font-size: 300%;
  font-weight: bold;
}

.header .meta {
  text-transform: uppercase;
}

.info .meta {
  text-transform: uppercase;
}

.info .meta::after {
  content: " :";
}

.supplier {
  /* color: #92AB4E; // Couleur du texte de l'adresse du fournisseur, p.ex. */
  display: block;
  /*text-align: left; PAS OUF COMME DESIGN */
  width: 40%; /* permet de ne pas faire un retour à la ligne pour le mail, qui est trop long */
}

.block {
  padding-left: 5px;
  display: block;
}

.client, .items, .summary {
  padding: 1px;
  margin-top: 1em;
  margin-bottom: 1em;
  background: #92AB4E; /*couleur principale des boites (#ff8000 = orange, #92AB4E = vert LFC; #8d9e5e) */
  -webkit-print-color-adjust: exact !important;
  color-adjust: exact !important;
}

.client .title, .summary .title {
  margin-left: 4px;
  color: white;
  text-transform: uppercase;
}

.client .details, .summary .details {
  padding: 4px;
  background-color: white;
}

table.items {
  width: 100%;
  border: 1px solid #92AB4E;
  border-collapse: collapse;
}

table.items th {
  text-align: left;
  color: white;
  text-transform: uppercase;
  font-weight: normal;
  padding: 4px;
}

table.items td {
  background-color: white;
  padding: 4px;
  text-align: left;
}

.client .title, .summary .title, table.items th, .help .title {
  padding-top: 10px;
  padding-bottom: 10px;
}

.money, .number {
  text-align: right;
}

.name {
  color: #000080;
}

.address {
  /*display: flex;
  justify-content: flex-start NE PAS UTILISER CA, CAR RENDU FOIREUX */
  text-align:left;
  padding-bottom: 1em;
}

div.date-tag {
  display: inline-block;
  min-width: 80px;
}

div.top {
  display: flex;
  width: 100%;
  padding: 1px;
  justify-content: space-between;
}

div.summary {
  display: flex;
  width: 100%;
  padding: 0px;
  align-items: flex-end;
  justify-content: flex-end;
  background: none;
}

div.summary .part, div.summary .total {
  padding: 10px;
}

div.summary .part {
  width: 20%;
  padding-right: 20px;
}

div.summary .total {
  display: block;
  background: #92AB4E;
  font-size: 140%;
  text-align: right;
  align-items: flex-end;
  width: 30%;
}

div.summary {
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
}

div.summary .total {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

div.summary .title, div.summary .details {
  text-align: right;
}

div.summary::after {
  content: '';
  display: block;
  clear: both;
}

.phone::before {
  content: "\260e"; // Code pour téléphone: \260e; website: 1F310
  margin-right: 0.5em;
}

/* VARIANTE DU WEBSITE POUR SIMPLE LOGO
.website::before {
  content: "\1f310";
  margin-right: 0.5em;
}
*/
.website {
  display: flex;
  align-items: center;
}

.website-icon {
  width: 16px;
  height: 16px;
  margin-right: 0.5em;
}

/* .website::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 0.5em;

  background-image: url("https://raw.githubusercontent.com/Leornitho/invoices_and_orders/main/Plantule_FINAL.png"); /*url("https://t2.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url=http://lafermechautems.ch&size=16");*/
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
} */
.email::before {
  content: "\2709";
  margin-right: 0.5em;  
}

.thanks {
  text-align: left;
  color: #92ab4e;
  font-size: 300%;
}

.payment-info {
  text-align: left;
  color: black;
  font-size: 100%;   /* plus petit que le texte normal */
  margin-top: 10px;
}

.qr-code {
  text-align: center;
  margin-top: 40px;
  width: 100%; 
}

div.instructions, .newlined, p.note {
  white-space: pre-line;
}

div.paid {
  position: relative;
  left: 40%;
  color: red;
  rotate: 15deg;
  font-size: 80px;
  top: 20px;
  border: 5px solid red;
  float: left;
  font-weight: bolder;
}

.app {
  position: relative;
}

@media print {
  htlm, body{
    zoom: 90%;
  }
  .invoice {
    width: 100%;
  }
  div.print {
    display: none;
  }
}

div.print {
  position: fixed;
  left: 0;
  bottom: 0;
}

div.print a {
  background: #C83200;
  display: block;
  font-size: 200%;
  color: white;
  text-decoration: none;
  padding: 0.25em;
  padding-top: 0.5em;
  padding-right: 0.5em;
  border-top-right-radius: 0.5em;
  text-transform: uppercase;
}

div.print a:hover {
  background: #4682B4;
}

.done {
  text-decoration: line-through;
}

div.column-name {
  display: inline-block;
}

.column-name {
  background: blue;
  color: white;
  margin: 2px;
  padding: 2px;
  border-radius: 2px;
  font-style: normal;
}

.column-recognized {
  background: green;
}

.column-expected {
  background: blue;
}

.column-ignored {
  background: red;
}

.help {
  padding: 1px;
  margin-top: 1em;
  margin-bottom: 1em;
  background: black;
  color: white;
}

.help .details {
  padding: 4px;
}

.help table {
  border: none;
}

.help td.key {
  text-align: right;
}

.help table {
  padding-bottom: 3px;
}

.help-close {
  display: float;
  float: right;
  max-width: 150px;
  padding: 5px;
  border-left: 1px solid white;
  border-bottom-left-radius: 5px;
  font-size: 80%;
  font-style: italic;
}

.help pre {
  display: inline-block;
  background: #ddd;
  color: #000;
  padding: 0.25em;
  margin-left: 1em;
}

.help .title {
  margin-left: 4px;
  text-transform: uppercase;
}

.status {
  padding: 4px;
}

.status .button {
  display: inline-block;
  text-decoration: none;
  color: #000080;
  background: #ddd;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
  border-radius: 0.25em;
}

.logo-container {
  width: 100%;
  text-align: right;
  margin-bottom: 10px;
}

.logo {
  max-width: 200px;   /* ajuste la taille */
  /*max-height: 200px; Remplacé par la ligne du dessous*/
  height: auto;
}
